@charset "utf-8"; 

/*320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.*/

@media screen  and (min-width: 560px) and (max-width: 880px){

    body{
        background-image: linear-gradient(to left, #205f64 75%, #3db7c2  );
    }
    section#info{
        width: 490px;
        height: x;
    }
    section#info > div#img{
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-size: cover;
        
        float: left;
    }
    section#info > div#form {
        width: 60%;
        float: right;
    }
}
@media screen and (min-width: 881px ) {
    section#info{
        width: 780px;
        height: x;

    }
    section#info > div#img {
        float: right;
        width: 40%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }
    section#info > div#form {
        float: left;
        width: 60%;
    }

}